.App {
  color: #fff;
  text-align: center;
  background-color: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.film-title {
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
}

.film-details-button {
  background-color: #fff;
  border: 0;
  padding: 8px 14px;
  border-radius: 2px;
  font-size: 16px;
}
